<%die1 = rand(1..6)
#puts die1 

die2 = rand(1..6)
#puts die2

total = die1 + die2
#puts "The total is #{total}"
%>

<P>
  Die:<%=die1%> 
  Die:<%=die2%> 
<p>

<p>
  <img src="/images/dice/<%=die1%>.svg">
  <img src="/images/dice/<%=die2%>.svg">
<p>

<a href="/dice">Roll Again!</a>