<%
  fillings = ["Avocado","Apple"]
%>

<%=fillings %>

<%# i won't break i'm not an error %>

<!-- i'm a comment -->

<h1>I love tacos! </h1>
<p> There are so many tacos!! </P>

<ul>
  <li>Avocado</li>
  <li>Apple</li>
</ul>
